body{
    background: #ccc;
}

.photo{
    border: 1px solid #cccc;
    border-radius: 50%;
}

#title, .subtitle, .post_title{
color: crimson;

}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 10px;
    border: 3px solid #000;
    margin: 10px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
}
.post_image{
    margin-bottom: 15px;
}