body{
    background: #ccc;
    font-family: Verdana;
    width: 900px;
    margin: auto;
}

a{
    text-decoration: line-through;
    color: #505050;
}

.photo{
    border: 1px solid #cccc;
    border-radius: 50%;
    width: 30%;
}

#title, .subtitle, .post_title{
color: crimson;

}

#title{
    font-size: 16px;
    text-transform: uppercase;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #fff;
    padding: 10px;
    border: 3px solid #000;
    margin: 10px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list{
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a{
    text-decoration: none;
}